<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:aop="http://www.springframework.org/schema/aop"
         xmlns:tx="http://www.springframework.org/schema/tx"
         xmlns:context="http://www.springframework.org/schema/context"
         xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context-2.5.xsd  
            ">     
           <bean id="bookimp" class="com.library.web.dao.imp.BookImp"
           	destroy-method="disposeBookImp">
           </bean>
           <bean id="borrowimp"
           	class="com.library.web.dao.imp.BorrowImp"
           	destroy-method="disposeBorrowImp">
           </bean>
           <bean class="com.library.web.dao.imp.LoginCodeImp"
           	destroy-method="disposeLoginCodeImp">
           </bean>
           <bean class="com.library.web.dao.imp.UserImp"
           	destroy-method="disposeUserImp">
           </bean>

</beans>
